html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.default {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
}

.mainContainer {
    background-color: #EFEFEF;
    border-radius: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 400px;
}

input,
select {
    margin: 5px;
    width: 100px;
}

.select {
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 36px;

    :hover {
        border-color: #ccc;
    }

    :focus {
        border-color: #9147ff;
        background: #fff;
    }

}

.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    height: 38px;
    min-width: 135px;
    min-height: 38px;
    border: none;
    color: #fff;
    background-color: rgb(88, 101, 242);
    transition: background-color .17s ease, color .17s ease;

    :hover {
        background-color: rgb(71, 82, 196);
    }

}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    text-align: center;
}

footer {
    padding: 50px;
}